################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Ijp.IDP/bin
/Ijp.IDP/obj
/MyAzure/bin
/MyAzure/obj
/WebImage.API/bin
/WebImage.API/obj
/WebImage.Client/bin
/WebImage.Client/obj
/WebImage.Model/bin
/WebImage.Model/obj

/Ijp.IDP/tempkey.rsa
/MyAzure/Settings.cs
/WebImage.Client/node_modules
/WebImage.API/appsettings.json
/.vs
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
*.pubxml.user

# User-specific files
#*.suo
#*.user
#*.userosscache
#*.sln.docstates
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# SQL Server files
*.mdf
*.ldf

# Windows thumbnail cache files
Thumbs.db
